@import "tailwindcss";

@layer base {
    body {
        font-family: 'Lato', sans-serif;
    }
}

button {
    cursor: pointer;
}

@layer utilities {
    .font-saira {
        font-family: 'Saira', sans-serif;
    }
}